doctype html
html.no-js(lang='en-US')
  head
    script(type='text/javascript').

      !function(){var n,o,i,e="renderMode=ie11";n=window.navigator.userAgent,o=n.indexOf("MSIE "),i=n.indexOf("Trident/"),(o>0||i>0)&&-1===window.location.href.indexOf(e)&&(window.location=window.location.href+("?"===document.location.search[0]?"&":"?")+e)}();

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='viewport' content='width=device-width')
    meta(name='viewport' content='initial-scale=1,width=device-width,user-scalable=no,minimum-scale=1,maximum-scale=1')
    link(rel='profile' href='http://gmpg.org/xfn/11')
    link(rel='pingback' href='https://techcrunch.com/xmlrpc.php')
    script(type='application/javascript').

      !function(){for(var n="//"+window.location.hostname+"/wp-json/tc/v1/users/check_login",e={},o="abcdefghijklmnopqrstuvwxyz0123456789",t="",c=0;c<20;c++)t+=o.charAt(Math.floor(Math.random()*o.length));e.cachePrevention=Date.now()+"."+t,void 0!==window.tc_customizer_args&&Object.assign(e,window.tc_customizer_args);var i=Object.keys(e).map(function(n){return n+"="+e[n]}).join("&");n+="?"+decodeURIComponent(i);fetch(n,{method:"GET",headers:{"Content-Type":"application/json; charset=utf-8"},credentials:"include"}).then(function(n){window.tc_profile={resp:n}})}();

    title The four corners of the new space economy – TechCrunch
    link(rel='dns-prefetch' href='//consent.cmp.oath.com')
    link(rel='dns-prefetch' href='//s.yimg.com')
    link(rel='dns-prefetch' href='//use.typekit.net')
    link(rel='dns-prefetch' href='//cdn.vidible.tv')
    link(rel='dns-prefetch' href='//plugin.mediavoice.com')
    link(rel='dns-prefetch' href='//s.w.org')
    link(rel='alternate' type='application/rss+xml' title='TechCrunch » Feed' href='https://techcrunch.com/feed/')
    link(rel='alternate' type='application/rss+xml' title='TechCrunch » Comments Feed' href='https://techcrunch.com/comments/feed/')
    link(rel='alternate' type='application/rss+xml' title='TechCrunch » The four corners of the new space economy Comments Feed' href='https://techcrunch.com/2019/12/26/the-four-corners-of-the-new-space-economy/feed/')
    meta(name='oath:guce:product-eu' content='false')
    meta(name='oath:guce:consent-host' content='guce.techcrunch.com')
    meta(name='oath:guce:inline-consent' content='true')
    script(async src='//s.yimg.com/oa/guce.js?tc_ver=191227')
    script(async src='//s.yimg.com/oa/consent.js?tc_ver=191227')
    script(type='text/javascript').

      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/techcrunch.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};
      			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);

    style(type='text/css').

      img.wp-smiley,
      img.emoji {
      	display: inline !important;
      	border: none !important;
      	box-shadow: none !important;
      	height: 1em !important;
      	width: 1em !important;
      	margin: 0 .07em !important;
      	vertical-align: -0.1em !important;
      	background: none !important;
      	padding: 0 !important;
      }

    link#all-css-0(rel='stylesheet' href='https://techcrunch.com/_static/??/wp-includes/css/dist/block-library/style.min.css,/wp-content/plugins/wp-parsely/wp-parsely.css,/wp-content/themes/techcrunch-2017/build/ec/css/main.css?m=1576792339' type='text/css' media='all')
    script(src='https://consent.cmp.oath.com/cmp.js?ver=20191227')
    script(type='text/javascript' src='https://techcrunch.com/_static/??-eJzTLy/QzcxLzilNSS3WzwKiwtLUokoopZdVrKOPT4FubmZ6UWJJql5uZh5QsX2uraGpuZm5oaGBkVEWACV8IKY=')
    script(src='https://s.yimg.com/ss/rapid3.js?ver=20191227')
    script(src='https://s.yimg.com/pv/static/assistjs/desktop-v1.0.70.js?ver=20191227')
    script(src='//cdn.vidible.tv/prod/player/js/latest/vidible-min.js?ver=20191227')
    script(src='//plugin.mediavoice.com/mediaconductor/mc.js?ver=20191227')
    link(rel='https://api.w.org/' href='https://techcrunch.com/wp-json/')
    link(rel='EditURI' type='application/rsd+xml' title='RSD' href='https://techcrunch.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest' type='application/wlwmanifest+xml' href='https://techcrunch.com/wp-includes/wlwmanifest.xml')
    meta(name='generator' content='WordPress 5.3.2')
    link(rel='canonical' href='https://techcrunch.com/2019/12/26/the-four-corners-of-the-new-space-economy/')
    link(rel='shortlink' href='https://techcrunch.com/?p=1914673')
    link(rel='alternate' type='application/json+oembed' href='https://techcrunch.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftechcrunch.com%2F2019%2F12%2F26%2Fthe-four-corners-of-the-new-space-economy%2F')
    link(rel='alternate' type='text/xml+oembed' href='https://techcrunch.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftechcrunch.com%2F2019%2F12%2F26%2Fthe-four-corners-of-the-new-space-economy%2F&format=xml')
    link(rel='dns-prefetch' href='//v0.wordpress.com')
    style(type='text/css') img#wpstats{display:none}
    //  BEGIN Sailthru Horizon Meta Information
    meta(name='sailthru.date' content='2019-12-26 13:35:28')
    meta(name='sailthru.title' content='The four corners of the new space economy')
    meta(name='sailthru.tags' content='Blue Origin, peter beck, Rocket Lab, sara spangelo, spacecraft, SpaceX, starlink, swarm technologies, will marshall')
    meta(name='sailthru.description' content='It’s gotten to the point now where a handful of angel investors can put a space company on the map. But the same changes that have made the industry accessible have made it increasingly complex to track its trends. By default, all space startups are exciting, but companies vary widely in risk, capital intensity and […]')
    meta(name='sailthru.image.full' content='https://techcrunch.com/wp-content/uploads/2019/12/four-corners-new-space2.jpg')
    meta(name='sailthru.image.thumb' content='https://techcrunch.com/wp-content/uploads/2019/12/four-corners-new-space2.jpg?w=50')
    //  END Sailthru Horizon Meta Information
    //  BEGIN wp-parsely Plugin Version 1.13.0
    meta#wp-parsely_version(name='wp-parsely_version' content='1.13.0')
    script(type='application/ld+json').

      {"@context":"http:\/\/schema.org","@type":"NewsArticle","mainEntityOfPage":{"@type":"WebPage","@id":"http:\/\/techcrunch.com\/2019\/12\/26\/the-four-corners-of-the-new-space-economy\/"},"headline":"The four corners of the new space economy","url":"http:\/\/techcrunch.com\/2019\/12\/26\/the-four-corners-of-the-new-space-economy\/","thumbnailUrl":"https:\/\/techcrunch.com\/wp-content\/uploads\/2019\/12\/four-corners-new-space2.jpg?w=150","image":{"@type":"ImageObject","url":"https:\/\/techcrunch.com\/wp-content\/uploads\/2019\/12\/four-corners-new-space2.jpg?w=150"},"dateCreated":"2019-12-26T21:35:28Z","datePublished":"2019-12-26T21:35:28Z","dateModified":"2019-12-26T21:35:28Z","articleSection":"post","author":[{"@type":"Person","name":"Devin Coldewey"}],"creator":["Devin Coldewey"],"keywords":["@post-id:1914673","aerospace","space","startups","tc","blue origin","peter beck","rocket lab","sara spangelo","spacecraft","spacex","starlink","swarm technologies","will marshall","premium-content"],"publisher":{"@type":"Organization","name":"TechCrunch","logo":{"@type":"imageObject","url":"https:\/\/techcrunch.com\/wp-content\/themes\/techcrunch-2017\/images\/logo-json-ld.png","width":"600","height":"60"}}}

    //  END wp-parsely Plugin Version 1.13.0
    meta(property='fb:app_id' content='187288694643718')
    meta(property='fb:pages' content='8062627951')
    meta(property='fb:admins' content='8803025,726995222,771265067,1550970059,1661021707,1178144075,643979435,4700188')
    meta(property='article:publisher' content='https://www.facebook.com/techcrunch')
    meta(property='og:site_name' content='TechCrunch')
    meta(property='og:site' content='social.techcrunch.com')
    meta(property='og:title' content='The four corners of the new space economy – TechCrunch')
    meta(property='og:description' content='It’s gotten to the point now where a handful of angel investors can put a space company on the map. But the same changes that have made the industry accessible have made it increasingly complex to track its trends. By default, all space startups are exciting, but companies vary widely in risk…')
    meta(property='og:image' content='https://techcrunch.com/wp-content/uploads/2019/12/four-corners-new-space2.jpg?w=753')
    meta(property='og:url' content='http://social.techcrunch.com/2019/12/26/the-four-corners-of-the-new-space-economy/')
    meta(property='og:type' content='article')
    meta(name='description' content='It’s gotten to the point now where a handful of angel investors can put a space company on the map. But the same changes that have made the industry accessible have made it increasingly complex to track its trends. By default, all space startups are exciting, but companies vary widely in risk, capital intensity and […]')
    meta(name='title' content='The four corners of the new space economy – TechCrunch')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@techcrunch')
    meta(name='twitter:title' content='The four corners of the new space economy – TechCrunch')
    meta(name='twitter:description' content='It’s gotten to the point now where a handful of angel investors can put a space company on the map. But the same changes that have made the industry accessible have made it increasingly complex to track its trends. By default, all space startups are exciting, but companies vary widely in risk, capital intensity and […]')
    meta(name='twitter:image' content='https://techcrunch.com/wp-content/uploads/2019/12/four-corners-new-space2.jpg?w=753')
    script(type='text/javascript') var ajaxurl = "https://techcrunch.com/wp-admin/admin-ajax.php"
    link(rel='icon' href='https://techcrunch.com/wp-content/uploads/2015/02/cropped-cropped-favicon-gradient.png?w=32' sizes='32x32')
    link(rel='icon' href='https://techcrunch.com/wp-content/uploads/2015/02/cropped-cropped-favicon-gradient.png?w=192' sizes='192x192')
    link(rel='apple-touch-icon-precomposed' href='https://techcrunch.com/wp-content/uploads/2015/02/cropped-cropped-favicon-gradient.png?w=180')
    meta(name='msapplication-TileImage' content='https://techcrunch.com/wp-content/uploads/2015/02/cropped-cropped-favicon-gradient.png?w=270')
    script(type='text/javascript' src='https://s.aolcdn.com/ads/adsWrapper.js?tc_ver=20191227')
    script(type='text/javascript').

      try{adsEnableSandbox();}catch(e){}

  body
    #root
      div
        //  duplicate React-root div for styling
        .content
          article.article-container.article--post
            header.article__header
              .article__title-wrapper
                h1.article__title The four corners of the new space economy
              .article__byline-wrapper
                .article__byline
                  a(href='https://techcrunch.com/author/devin-coldewey/').

                    Devin Coldewey
                  span.article__byline__meta
                    a(href='https://twitter.com/techcrunch') @techcrunch
                    span.text--green /
                      | 18 hours
              .article__featured-image-wrapper.breakout
                img.article__featured-image(src='https://techcrunch.com/wp-content/uploads/2019/12/four-corners-new-space2.jpg?w=730')
            .article-content
              p#speakable-summary
                span.featured__span-first-words It’s gotten to the
                |  point now where a handful of angel investors can put a space company on the map. But the same changes that have made the industry accessible have made it increasingly complex to track its trends. By default, all space startups are exciting, but companies vary widely in risk, capital intensity and maturity. Here’s what you need to know about the four main areas of the new space economy.
              h2 Launch: playground of billionaires and forward thinkers
              p Perhaps simply the most exciting industry to be a part of today, orbital launch service has gone from a government-funded niche dominated by a handful of primes to a vibrant, growing community serving insatiable demand.
              p
                | There’s a good reason why it was dominated for so long by the likes of
                a(href='https://www.ulalaunch.com/') ULA
                | , whose Delta rockets took up a huge majority of missions for decades. The barrier to entry for launch is huge.
              p As such there are three ways to enter the sector: brute force, stealth, and novelty.
              p
                | Brute force is how
                a(href='https://www.spacex.com/') SpaceX
                |  and
                a(href='https://www.blueorigin.com/') Blue Origin
                |  have managed to accomplish what they have. With billions in investment from people who don’t actually care whether money is made in the short term (or with Bezos, even in the long term), they can perform the research and engineering necessary to make a full-scale launch platform. Few of these can ever really exist, and participation is limited when they do. Fortunately we all reap the benefits when billionaires compete for space superiority.
              .embed.breakout
                blockquote.wp-embedded-content(data-secret='S43ShYAz0c')
                  p
                    a(href='https://techcrunch.com/2019/09/30/rocket-lab-launch-switcheroo-shows-the-flexibility-of-the-new-orbital-economy/') Rocket Lab launch switcheroo shows the flexibility of the new orbital economy
                p
                  iframe.wp-embedded-content(title='“Rocket Lab launch switcheroo shows the flexibility of the new orbital economy” — TechCrunch' sandbox='allow-scripts' security='restricted' style='position: absolute; clip: rect(1px, 1px, 1px, 1px);' src='https://techcrunch.com/2019/09/30/rocket-lab-launch-switcheroo-shows-the-flexibility-of-the-new-orbital-economy/embed/#?secret=S43ShYAz0c' data-secret='S43ShYAz0c' width='800' height='450' frameborder='0' marginwidth='0' marginheight='0' scrolling='no')
              p
                | Stealth, perhaps better described as smart positioning, is where you’ll find
                a(href='https://www.rocketlabusa.com/') Rocket Lab
                | . This New Zealand-based company didn’t appear out of nowhere — look at its timeline and you’ll see scaled-down tests being conducted more than a decade ago. But what founder Peter Beck and his crew did was anticipate the market and work doggedly towards a specific solution.
              p
                a.crunchbase-link(href='https://crunchbase.com/organization/rocket-lab' target='_blank' data-type='organization' data-entity='rocket-lab')
                  | Rocket Lab
                  span.crunchbase-tooltip-indicator
                |  is focused on small payloads, delivered with short turnaround time. This avoids the trouble of competing against billionaires and decades-old space dynasties because, really, this market didn’t exist until very recently.
              p “Responsive space, or launch on demand, is going to be increasingly important,” Beck said. “All satellites are vulnerable, be it from natural, accidental, or deliberate actions. As we see the growth and aging of small sat constellations, the need for replenishment will increase, leading to demand for single spacecraft to unique orbits. The ability to deploy new satellites to precise orbits in a matter of hours, not months or years, is critical to government and commercial satellite operators alike.”
              p
              #attachment_1921029.wp-caption.aligncenter(style='width: 910px')
                img.breakout.size-full.wp-image-1921029(aria-describedby='caption-attachment-1921029' src='https://techcrunch.com/wp-content/uploads/2019/12/rocket-lab-running-out-of-fingers.gif' alt width='900' height='506')
                p#caption-attachment-1921029.wp-caption-text Rocket Lab’s tenth launch, nicknamed “Running Out of Fingers.”
              p
              p
                | Investing in
                a.crunchbase-link(href='https://crunchbase.com/organization/rocket-lab' target='_blank' data-type='organization' data-entity='rocket-lab')
                  | Rocket Lab
                  span.crunchbase-tooltip-indicator
                |  early on would have seemed unexciting as for year after year they made measured progress but took on no cargo and made no money. Patience is the primary virtue here. But investors with foresight are looking back now on the company’s many successful launches and bright future and marveling that they ever doubted it.
              p
                | The third category of launch is novelty: entirely new launch techniques like
                a(href='https://www.spinlaunch.com/') SpinLaunch
                |  or
                a(href='https://www.leoaerospace.com/') Leo Aerospace
                | . The term may not inspire confidence, and that’s deliberate. Companies taking this approach are high-risk, high-reward propositions that often need serious funding before they can even prove the basic physical possibility of their launch technique. That’s not an investment everyone is comfortable making.
              .embed.breakout
                blockquote.wp-embedded-content(data-secret='2rjEKVtps0')
                  p
                    a(href='https://techcrunch.com/2018/02/22/spinlaunch-2/') Stealth space catapult startup SpinLaunch is raising $30M
                p
                  iframe.wp-embedded-content(title='“Stealth space catapult startup SpinLaunch is raising $30M” — TechCrunch' sandbox='allow-scripts' security='restricted' style='position: absolute; clip: rect(1px, 1px, 1px, 1px);' src='https://techcrunch.com/2018/02/22/spinlaunch-2/embed/#?secret=2rjEKVtps0' data-secret='2rjEKVtps0' width='800' height='450' frameborder='0' marginwidth='0' marginheight='0' scrolling='no')
              p On the other hand, these are companies that, should they prove viable, may upend and collect a significant portion of the new and growing launch market. Here patience is not so much required as extra diligence and outside expertise to help separate the wheat from the chaff. Something like SpinLaunch may sound outlandish at first, but the Saturn V rocket still seems outlandish now, decades after it was built. Leaving the confines of established methods is how we move forward — but investors should be careful they don’t end up just blasting their cash into orbit.
              p
              .extra-crunch-offer-container
            footer.article-footer
              input.shortlink(title='Article Shortlink' readonly type='text')
      //  end React-root duplication div
    // end #root
