doctype html
html(itemscope itemtype='http://schema.org/' lang='en-us' prefix='fb:http://ogp.me/ns/fb# og:http://ogp.me/ns#')
  head
    title Your home isn’t smart, it’s just connected — here’s why
    meta(charset='utf-8')
    meta(content='text/html; charset=UTF-8' http-equiv='content-type')
    meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width')
    meta(name='referrer' content='unsafe-url')
    meta(name='apple-mobile-web-app-title' content='The Next Web')
    meta(name='msvalidate.01' content='EBA9DC0DD4E376AF9708F73323680AB1')
    meta(itemprop='name' content='Your home isn’t smart, it’s just connected — here’s why')
    meta(name='description' content='We’re getting to the point in 2020 where we should reassess what it truly means to describe something as “smart.” We need to change our mindset.')
    meta(property='og:locale' content='en_US')
    link(rel='dns-prefetch' href='//cdn0.tnwcdn.com/')
    link(rel='dns-prefetch' href='//cdn4.tnwcdn.com/')
    link(rel='dns-prefetch' href='//www.googletagmanager.com')
    link(rel='preconnect' href='//cdn0.tnwcdn.com/')
    link(rel='preconnect' href='//cdn4.tnwcdn.com/')
    link(rel='preconnect' href='//www.googletagmanager.com')
    link(rel='manifest' href='/manifest.json')
    //  Icons
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-57x57.png?v=1510743095' sizes='57x57')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-60x60.png?v=1510743095' sizes='60x60')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-72x72.png?v=1510743095' sizes='72x72')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-76x76.png?v=1510743095' sizes='76x76')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-114x114.png?v=1510743095' sizes='114x114')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-120x120.png?v=1510743095' sizes='120x120')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-144x144.png?v=1510743095' sizes='144x144')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-152x152.png?v=1510743095' sizes='152x152')
    link(rel='apple-touch-icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/apple-touch-icon-180x180.png?v=1510743095' sizes='180x180')
    link(rel='icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/favicon-16x16.png?v=1510743095' sizes='16x16' type='image/png')
    link(rel='icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/favicon-32x32.png?v=1510743095' sizes='32x32' type='image/png')
    link(rel='icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/favicon-96x96.png?v=1510743095' sizes='96x96' type='image/png')
    link(rel='icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/favicon-194x194.png?v=1510743095' sizes='194x194' type='image/png')
    link(rel='icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/android-chrome-192x192.png?v=1510743095' sizes='192x192' type='image/png')
    link(rel='shortcut icon' ref='https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/icons/favicon.png?v=1510743095')
    meta(name='apple-mobile-web-app-title' content='Podium')
    meta(name='application-name' content='Podium')
    meta(name='theme-color' content='#660099')
    link(rel='alternate' type='application/rss+xml' title='The Next Web RSS Feed' href='http://feeds2.feedburner.com/thenextweb')
    //  BEGIN TAGS
    //  Social Provider
    link(href rel='publisher')
    meta(name='yandex-verification' content='66df89eec58f9170')
    meta(property='fb:app_id' content='378011798897423')
    meta(property='fb:pages' content='106976563522')
    meta(property='fb:pages' content='136548879865026')
    meta(property='fb:pages' content='252857631761065')
    meta(property='fb:pages' content='665773266831844')
    meta(name='twitter:account_id' content='10876852')
    script.

      !function(n,e,o,r,i){if(!e){e=e||{},window.permutive=e,e.q=[],e.config=i||{},e.config.projectId=o,e.config.apiKey=r,e.config.environment=e.config.environment||"production";for(var t=["addon","identify","track","trigger","query","segment","segments","ready","on","once","user","consent"],c=0;c<t.length;c++){var f=t[c];e[f]=function(n){return function(){var o=Array.prototype.slice.call(arguments,0);e.q.push({functionName:n,arguments:o})}}(f)}}}(document,window.permutive,"970c370e-66b5-4cc7-ad17-1d370e11bf75","d6c42980-42e9-4537-93f1-f2c3fd326c4a",{});
          window.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting("permutive").length){var g=window.localStorage.getItem("_pdfps");window.googletag.pubads().setTargeting("permutive",g?JSON.parse(g):[])}});

          permutive.addon('web', {"page":{"type":"article","article":{"id":"1261903","title":"Your home isn\u2019t smart, it\u2019s just connected \u2014 here\u2019s why","description":"Just like how certain types of technology and operating systems give way to new, updated versions and become outdated, so does the terminology we use to describe them. We no longer refer to appliances like washing machines or water heaters as \u2018automated,\u2019 because in our world today, we just know and expect them to be [&hellip;]\n","topic":"","authors":["Rafi Zauer"],"categories":["Podium"],"sections":["Podium"],"keywords":["Home","Internet of Things","Connectivity","Home automation","Artificial intelligence (video games)","Future"],"modifiedAt":"2019-12-19T10:48:51+00:00","publishedAt":"2019-12-26T20:00:51+00:00","type":"post","companies":[],"profiles":[],"events":[],"sponsored":{"isSponsored":false,"client":null,"campaign":null},"wordlift":["Home","Internet of Things","Connectivity","Home automation","Artificial intelligence (video games)","Future"],"syndicated":false,"roadblockedAds":false,"shares":{"facebook":0,"twitter":0,"linkedIn":0,"googlePlus":0,"reddit":0},"countComments":0,"countImages":0,"countVideos":0,"lengthBucket":""}}})

    script(async src='https://cdn.permutive.com/970c370e-66b5-4cc7-ad17-1d370e11bf75-web.js')
    //  Tag Realm: Article
    meta(name='author' content='Rafi Zauer')
    meta(name='original-source' content='https://thenextweb.com/podium/2019/12/26/your-home-isnt-smart-its-just-connected-heres-why/')
    link(rel='canonical' href='https://thenextweb.com/podium/2019/12/26/your-home-isnt-smart-its-just-connected-heres-why/')
    link(rel='amphtml' href='https://thenextweb.com/podium/2019/12/26/your-home-isnt-smart-its-just-connected-heres-why/amp/')
    meta(property='og:type' content='article')
    meta(property='og:title' content='Your home isn’t smart, it’s just connected — here’s why')
    meta(property='og:description' content='We’re getting to the point in 2020 where we should reassess what it truly means to describe something as “smart.” We need to change our mindset.')
    meta(property='og:url' content='https://thenextweb.com/podium/2019/12/26/your-home-isnt-smart-its-just-connected-heres-why/')
    meta(property='og:site_name' content='Podium | The Next Web')
    meta(property='og:updated_time' content='2019-12-19T10:48:51+00:00')
    meta(property='article:publisher' content='https://www.facebook.com/thenextweb')
    meta(property='article:author' content='https://www.facebook.com/thenextweb')
    meta(property='article:published_time' content='2019-12-26T20:00:51+00:00')
    meta(property='article:modified_time' content='2019-12-19T10:48:51+00:00')
    meta(name='twitter:title' content='Your home isn’t smart, it’s just connected — here’s why')
    meta(name='twitter:description' content='We’re getting to the point in 2020 where we should reassess what it truly means to describe something as “smart.” We need to change our mindset.')
    meta(name='twitter:site' content='@thenextweb')
    meta(name='twitter:creator' content='@thenextweb')
    meta(name='twitter:card' content='summary_large_image')
    meta(property='og:image' content='https://img-cdn.tnwcdn.com/image/podium?filter_last=1&fit=1280%2C640&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F12%2FUntitled-design34.png&signature=2cb9d479ebdac4469bb7d1633201f118')
    meta(property='og:image:secure_url' content='https://img-cdn.tnwcdn.com/image/podium?filter_last=1&fit=1280%2C640&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F12%2FUntitled-design34.png&signature=2cb9d479ebdac4469bb7d1633201f118')
    meta(property='twitter:image' content='https://img-cdn.tnwcdn.com/image/podium?filter_last=1&fit=1280%2C640&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F12%2FUntitled-design34.png&signature=2cb9d479ebdac4469bb7d1633201f118')
    meta(property='og:image:width' content='1280')
    meta(property='og:image:height' content='640')
    //  JSON-LD breadcrumbs
    script(type='application/ld+json') {"@context":"http:\/\/schema.org","@id":"#Breadcrumb","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/thenextweb.com\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/thenextweb.com\/podium\/","name":"Podium"}},{"@type":"ListItem","position":3,"item":{"@id":"https:\/\/thenextweb.com\/podium\/2019\/12\/26\/your-home-isnt-smart-its-just-connected-heres-why\/","name":"Your home isn\u2019t smart, it\u2019s just connected \u2014 here\u2019s why"}}]}
    //  JSON-LD schema
    script(type='application/ld+json') {"@context":"http:\/\/schema.org","@id":"https:\/\/data.thenextweb.com\/podium\/2019\/12\/26\/your-home-isnt-smart-its-just-connected-heres-why\/","@type":"NewsArticle","description":"Just like how certain types of technology and operating systems give way to new, updated versions and become outdated, so does the terminology we use to describe them. We no longer refer to appliances like washing machines or water heaters as \u2018automated,\u2019 because in our world today, we just know and expect them to be [&hellip;]\n","mainEntityOfPage":{"@type":"WebPage","@id":"https:\/\/thenextweb.com\/podium\/2019\/12\/26\/your-home-isnt-smart-its-just-connected-heres-why\/","breadcrumb":{"@id":"#Breadcrumb"}},"headline":"Your home isn\u2019t smart, it\u2019s just connected \u2014 here\u2019s why","datePublished":"2019-12-26T20:00:51","dateModified":"2019-12-19T10:48:51","wordCount":911,"publisher":{"@type":"Organization","@id":"http:\/\/data.thenextweb.com\/tnw\/entity\/the_next_web","name":"The Next Web","sameAs":["https:\/\/en.wikipedia.org\/wiki\/The_Next_Web","https:\/\/www.facebook.com\/thenextweb","https:\/\/www.twitter.com\/thenextweb","https:\/\/plus.google.com\/+TheNextWeb\/","https:\/\/instagram.com\/thenextweb","https:\/\/www.youtube.com\/user\/thenextweb","https:\/\/www.pinterest.com\/thenextweb\/","https:\/\/www.linkedin.com\/company\/the-next-web","https:\/\/vine.co\/thenextweb","https:\/\/thenextweb.tumblr.com","https:\/\/soundcloud.com\/thenextweb","https:\/\/vimeo.com\/thenextweb","https:\/\/vk.com\/thenextweb","https:\/\/www.slideshare.net\/thenextweb","https:\/\/flipboard.com\/@thenextweb","https:\/\/storify.com\/thenextweb","https:\/\/www.stumbleupon.com\/channel\/thenextweb","https:\/\/www.flickr.com\/photos\/thenextweb\/","https:\/\/foursquare.com\/thenextweb"],"logo":{"@type":"ImageObject","url":"https:\/\/cdn1.tnwcdn.com\/wp-content\/blogs.dir\/1\/files\/2016\/06\/tnw-logo-amp.png","width":284,"height":60}},"author":{"@type":"Person","@id":"http:\/\/data.thenextweb.com\/tnw\/user\/rafi-zauer","name":"Rafi Zauer","url":"https:\/\/thenextweb.com\/author\/rafi-zauer"},"articleSection":"Podium","dateCreated":"2019-12-26T20:00:51","name":"Your home isn\u2019t smart, it\u2019s just connected \u2014 here\u2019s why","url":"https:\/\/thenextweb.com\/podium\/2019\/12\/26\/your-home-isnt-smart-its-just-connected-heres-why\/","articleBody":"Just like how certain types of technology and operating systems give way to new, updated versions and become outdated, so does the terminology we use to describe them. We no longer refer to appliances like washing machines or water heaters as \u2018automated,\u2019 because in our world today, we just know and expect them to be automated. The more technology advances, the farther away we get from having to specify that a piece of technology is \u201cmanual\u201d or \u201canalog\u201d vs. \u201cautomated.\u201d \nBy this same logic, we\u2019re getting to the point in 2020 where we should reassess what it truly means to describe something as \u201csmart.\u201d We need to change our mindset. We need to move away from thinking of a home managed by rules set by the homeowner, to a self-learning home that can detect and learn the habits of the consumer to create a more seamless experience overall. \n            \n                \n            \n             \n            \n                window.jwLibrary = \"chM58Ml7\";\n            \n        \nSo, what do we mean by smart homes? Some say it is where functions are managed remotely. But this definition is outdated and far too broad to describe the functionality that we currently have. We could hardly say that 1985\u2019s infamous Clapper (\u201cclap on, clap off\u2019) light switch would still qualify as \u201csmart,\u201d even though it was remotely controlled!\nObviously, the way we live in our homes in the 21st century is far more advanced than simple remote functions like clap on, clap off. The \u201cInternet of Things\u201d (IoT) has brought with it the idea that household appliances and devices should be able to talk to each other, but it doesn\u2019t fully capture what it means to smart. Instead, we should think of smart homes as those that combine remote functions and connectivity with intelligence.\nFor the IoT sector, the concept of connectivity has driven progress in the last couple of decades. Devices and controllers have been connected to the outside world since the 1990s, beginning with the development of wireless systems like Bluetooth and WiFi. This progression has made this type of connectivity easier and more widespread, and now the majority of people live in homes that are incredibly more advanced than they were thirty years ago.\nThe latest iteration of this process is connecting homes to smart phones. Smart phones have been revolutionary for IoT, operating as hubs and enabling us to control our homes from the outside. Homes are now truly connected, as they no longer require our physical actions to operate. Instead, mobile apps on smartphones can turn heat, air conditioning, lights, and faucets on and off, as well as open and close garage doors and access security systems and cameras.\u00a0\u00a0\nHowever, although these functions make it seem like the home is a smart home, the actions are still being taken by the homeowner through the mobile app to operate the home: the user has created automation. \nBy contrast, in a truly smart home, the appliances themselves are able to learn from the habits of the residents and adjust the environment accordingly, without user intervention. We are already seeing this in separate devices, such as thermostats that know your comfort level, entertainment systems that learn your taste in music and movies, and fridges that learn your eating patterns.\u00a0\nHowever, for homes to be smart, technology enablers such as geo-location, video analytics, and voice assistants must be used in combination with machine-learning AI. For example, when I leave the office, my phone can estimate my commute time and tell my house to prepare for my arrival by disarming alarms, turning on the heating, and even setting the lighting to suit how I\u2019m feeling. \nCameras allow homes to identify specific residents and allow access, while voice recognition has allowed us to perform many automated functions within the home and remotely. Greater use of AI will mean homes of the future will have the ability to provide an all-encompassing picture of a user\u2019s routines and needs.\u00a0\nThe biggest jump towards a truly smart home will be in the ability to combine data from every device in the home and other sources and use it to create a unified system. A smart home will have multiple sensors around the house, allowing it to track patterns of behavior. \nContextual analysis allows homes to learn from their surroundings, allowing every connected device to tell a different story. By connecting the fridge to motion sensors in the kitchen, the AI will be able to identify when it\u2019s dinnertime. Likewise, biometric cameras will identify who is in the house and prepare the temperature and lighting settings just for them.\nThis behavior recognition can also greatly increase security, by being able to identify any suspicious activity and knowing who is and who isn\u2019t permitted to be in the house. Likewise, unusual activity alters can help to protect residents.\u00a0\nIt is easy to assign the smart label to modern homes. After all, they already act in way that appears to be smart. However, it is important to keep in mind what we mean by this label. We are already well on our way to completely smart homes, although the actions we command our homes to take through automated processes aren\u2019t truly smart, since they still stem from human command. \nThe future that we are working towards is one where homes will be able to assist before you think of it or in ways you didn\u2019t know you needed. This is what a truly smart home will look like.\u00a0","copyrightYear":"2019","sourceOrganization":{"@id":"http:\/\/data.thenextweb.com\/tnw\/entity\/the_next_web"},"copyrightHolder":{"@id":"http:\/\/data.thenextweb.com\/tnw\/entity\/the_next_web"},"interactionStatistic":[{"@type":"InteractionCounter","interactionService":{"@type":"Website","name":"Twitter","url":"http:\/\/www.twitter.com"},"interactionType":"https:\/\/schema.org\/ShareAction","userInteractionCount":0},{"@type":"InteractionCounter","interactionService":{"@type":"Website","name":"Facebook","url":"http:\/\/www.facebook.com"},"interactionType":"https:\/\/schema.org\/ShareAction","userInteractionCount":0},{"@type":"InteractionCounter","interactionType":"https:\/\/schema.org\/CommentAction","userInteractionCount":"0"}],"image":{"@type":"ImageObject","url":"https:\/\/cdn0.tnwcdn.com\/wp-content\/blogs.dir\/1\/files\/2019\/12\/Untitled-design34.png","width":1200,"height":628}}
    //  END TAGS
    script(src='//cdn0.tnwcdn.com/sub-brand/assets/js/lib/modernizr-custom.js')
    link(href='//cdn0.tnwcdn.com/sub-brand//css/genesis.css?id=de3da8b7a2e0b3c6d7b4' rel='stylesheet' type='text/css')
    link(href='//cdn0.tnwcdn.com/sub-brand//css/style.css?id=cfb774e8fd94d7e15ef3' rel='stylesheet' type='text/css')
    //  DataLayer
    script(type='text/javascript').

      var googletag = googletag || {};
              googletag.cmd = googletag.cmd || [];
              window.dataLayer = window.dataLayer || [];

    //  TODO
    script(type='text/javascript').

      dataLayer.push({"page":[{"id":1261903,"url":"https:\/\/thenextweb.com\/podium\/2019\/12\/26\/your-home-isnt-smart-its-just-connected-heres-why\/","words":1945,"time":"8:00 pm","column":0,"fyi":0,"author":"Rafi Zauer","date":"2019-12-26","date_published":"2019-12-26 20-00","date_published_week":"2019-52","type":"Article","post-status":"publish","videos":0,"tags":[],"categories":["Podium"],"sections":["Podium"],"companies":[],"profiles":[],"events":[],"topics":[],"wordlift":["Home","Internet of Things","Connectivity","Home automation","Artificial intelligence (video games)","Future"],"comments":"0","social_title":"Your home isn\u2019t smart, it\u2019s just connected \u2014 here\u2019s why","shares":{"fb":0,"tw":0,"li":0,"go":0,"re":0},"ads":{"roadblocked":0,"sponsor":"","sponsoredCategory":false,"sponsored":false,"client":null,"campaign_name":null,"product_type":null}}]});

    script(type='text/javascript') var msTag = {"site":"tnw","page":"article","data":{"category":"podium","isSponsoredCategory":false,"sponsorName":"","postId":1261903,"isSponsoredPost":false}};
    script(src='//massariuscdn.com/pubs/tnw/tnw_adtech_setup.js')
    //  Google Tag Manager
    script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MHDDSC');
    //  Google Tag Manager (noscript)
    noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHDDSC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  body.p-channel.p-channel--podium(data-modules='post|stream')
    nav.c-nav#nav
      .c-nav-mobile
        .c-nav-mobile-wrapper
          .c-nav-mobile-property
            h6 TNW News
            ul
              li
                a(href='https://thenextweb.com/latest') Latest
              li
                a(href='https://thenextweb.com/hardfork') Hard Fork
              li
                a(href='https://thenextweb.com/plugged') Plugged
              li
                a(href='https://thenextweb.com/work2030') Work 2030
              li
                a(href='https://thenextweb.com/adobe-fundamentals') Fundamentals
          .c-nav-mobile-tnw
            h6 More TNW
            ul.c-nav-tnw-properties
              li
                a(href='https://thenextweb.com/') News
              li
                a(href='https://thenextweb.com/conference') Events
                ul.c-navMobile__subMenu
                  li.c-navMobile__subMenuItem
                    a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='Bowlr 2019' data-event-label href='https://thenextweb.com/bowlr/') - Bowlr 2019
                  li.c-navMobile__subMenuItem
                    a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='TNW Conference 2020' data-event-label href='https://thenextweb.com/conference') - TNW2020
              li
                a(href='https://thenextweb.com/x') Enterprise
              li
                a(href='https://index.co/') Intelligence
              li
                a(href='https://answers.thenextweb.com/') Answers
              li
                a(href='https://tq.co/') Spaces
            h6 About TNW
            ul.c-nav-tnw-company
              li
                a(href='https://thenextweb.com/about') About
              li
                a(href='https://thenextweb.com/team') Team
              li
                a(href='https://thenextweb.com/advertise') Advertise
              li
                a(href='https://thenextweb.homerun.co/') Jobs
              li
                a(href='https://thenextweb.com/contact') Contact
      a.c-nav-logo(href='/')
        svg
          use(href='/sub-brand/assets/img/icons.svg#tnw')
      a.c-nav-logoChannel(href='/podium')
        svg(preserveAspectRatio='xMinYMin meet' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97 24')
          path(d='M34.665466 4h6.666687v16h-6.666687V4zM19.676453 6.34314c-2.965271 2.96527-3.113953 7.6781-.450318 10.821228L30.497681 5.892822c-3.143128-2.663635-7.855957-2.514953-10.821228.450318zm.492431 11.764038c3.143189 2.663635 7.855957 2.514953 10.82129-.450318 2.96527-2.96527 3.113952-7.6781.450317-10.821289L20.168884 18.107178zM68.132141 4h-7.333313v6.666687h7.333313V4zM10 4H8v12h2c3.31366 0 6-2.68628 6-6s-2.68634-6-6-6zM0 20h6.666626V4H0v16zm60.798828-8c0 4.418274 3.581726 8 8 8s8-3.581726 8-8h-16zm27.466675 0v8h8V4l-8 8zM42.665466 4v16c4.418274 0 8-3.581726 8-8s-3.581726-8-8-8zM78.93213 20h8v-8l-8-8v16zm-9.466675-9.333313h7.333374V4h-7.333374v6.666687zM51.99884 20h6.666626V4H51.99884v16z')
      .c-nav-tnw
        ul.c-nav-tnw-properties
          li
            a(href='https://thenextweb.com/') News
          li
            a(href='https://thenextweb.com/conference')
              | Events
              span.ev_carat ▾
            ul.nav-tnw-dropdown-menu
              li.c-navMobile__subMenuItem
                a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='Bowlr 2019' data-event-label href='https://thenextweb.com/bowlr') Bowlr 2019
              li.c-navMobile__subMenuItem
                a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='TNW Conference 2020' data-event-label href='https://thenextweb.com/conference') TNW2020
          li
            a(href='https://index.co/')
              | Business
              span.ev_carat ▾
            ul.nav-tnw-dropdown-menu-business
              li.c-navMobile__subMenuItem
                a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='Index' data-event-label href='https://index.co/') Index
              li.c-navMobile__subMenuItem
                a.c-navMobile__subMenuLink.evnts(data-event-action='Navigation' data-event-category='TNW X' data-event-label href='https://thenextweb.com/x') TNW X
          li
            a(href='https://answers.thenextweb.com/') AMAs
          li
            a(href='https://tq.co/') Spaces
        ul.c-nav-tnw-company
          li
            a(href='https://thenextweb.com/about') About
          li
            a(href='https://thenextweb.com/team') Team
          li
            a(href='https://thenextweb.com/advertise') Advertise
          li
            a(href='https://thenextweb.homerun.co/') Jobs
          li
            a(href='https://thenextweb.com/contact') Contact
      .c-nav-property
        ul.c-nav-menu
          li
            a(href='https://thenextweb.com/latest') Latest
          li
            a(href='https://thenextweb.com/hardfork') Hard Fork
          li
            a(href='https://thenextweb.com/plugged') Plugged
          li
            a(href='https://thenextweb.com/adobe-fundamentals') Fundamentals
          li
            a(href='https://thenextweb.com/work2030') Work 2030
        ul.c-nav-icons
          li.cookieConsent
            a(href='#')
              svg
                use(href='/sub-brand/assets/img/icons.svg#cookie')
            .cookieConsent-popOut
              header
                h2 Have a cookie
              main
                p.

                  TNW uses cookies to personalize content and ads to make our site easier for you to use. We do also share that information with third parties for advertising & analytics.

              footer
                button.button.button--small(onclick='TNWCookieConsent.accept();' data-event-category='Top' data-event-action='Cookies' data-event-label='OK' data-event-non-interaction='true') Got it!
                span
                  | or
                  a(href='/privacy-policy/' data-event-category='Top' data-event-action='Cookies' data-event-label='More information' data-event-non-interaction='true') More info
          li.c-nav-icons-toggleMenu
            a.c-nav-toggleMenu#navToggleMenu(href='#')
              div
              div
              div
    .app
      .app-main
        .p-channel-banner
          .u-wrapper
            a.p-channel-banner-logo(href='/podium')
              svg(preserveAspectRatio='xMinYMin meet' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97 24')
                path(d='M34.665466 4h6.666687v16h-6.666687V4zM19.676453 6.34314c-2.965271 2.96527-3.113953 7.6781-.450318 10.821228L30.497681 5.892822c-3.143128-2.663635-7.855957-2.514953-10.821228.450318zm.492431 11.764038c3.143189 2.663635 7.855957 2.514953 10.82129-.450318 2.96527-2.96527 3.113952-7.6781.450317-10.821289L20.168884 18.107178zM68.132141 4h-7.333313v6.666687h7.333313V4zM10 4H8v12h2c3.31366 0 6-2.68628 6-6s-2.68634-6-6-6zM0 20h6.666626V4H0v16zm60.798828-8c0 4.418274 3.581726 8 8 8s8-3.581726 8-8h-16zm27.466675 0v8h8V4l-8 8zM42.665466 4v16c4.418274 0 8-3.581726 8-8s-3.581726-8-8-8zM78.93213 20h8v-8l-8-8v16zm-9.466675-9.333313h7.333374V4h-7.333374v6.666687zM51.99884 20h6.666626V4H51.99884v16z')
          .u-wrapper
            p.p-channel-banner-tagline Opinion, advice, and analysis by the TNW community
        .c-stream#stream
          article.c-post.js-post(data-post='1261903' data-index='1')
            .u-wrapper
              .ad
                .ad-unit.ad-unit--billboard#TNW_ROS_HEADER_1261903(data-ad='TNW_ROS_HEADER')
              header.c-post-header
                ul.c-tags.c-tags--centered
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/section/podium/' target='_blank') Podium
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/home/' target='_blank') Home
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/internet-of-things/' target='_blank') Internet of Things
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/connectivity/' target='_blank') Connectivity
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/home-automation/' target='_blank') Home automation
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/artificial-intelligence-video-games/' target='_blank') Artificial intelligence (video games)
                  li.c-tags-tag.p-channel-tag
                    a(href='https://thenextweb.com/vocabulary/future-2/' target='_blank') Future
                h1 Your home isn’t smart, it’s just connected — here’s why
                p.c-post-subtitle 2020 is the year we need to start making the distinction between 'connected' and truly 'smart'
                .u-hideFrom-m
                  ul.c-shareIcons
                    li
                      a.c-shareIcons-icon.c-shareIcons-icon--facebook(data-share-medium='facebook' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#')
                        svg(viewBox='0 0 1 1')
                          use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#facebook')
                    li
                      a.c-shareIcons-icon.c-shareIcons-icon--twitter(data-share-medium='twitter' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/jIGv5' href='#')
                        svg(viewBox='0 0 1 1')
                          use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#twitter')
                    li
                      a.c-shareIcons-icon.c-shareIcons-icon--linkedin(data-share-medium='linkedin' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url href='#')
                        svg(viewBox='0 0 1 1')
                          use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#linkedin')
                    li
                      a.c-shareIcons-icon.c-shareIcons-icon--flipboard(data-share-medium='flipboard' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#')
                        svg(viewBox='0 0 1 1')
                          use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#flipboard')
                    li
                      a.c-shareIcons-icon.c-shareIcons-icon--mail(data-share-medium='mail' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url href='#')
                        svg(viewBox='0 0 1 1')
                          use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#mail')
              .c-split
                main.c-split-main
                  .u-wrapper-bleed
                    .c-post-image
                      img(alt='Untitled design(34)' data-lazy data-src='https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F12%2FUntitled-design34.png&signature=8cff639d9fd9f431d410273a0944b2bc')
                  .ad.c-post-ad.c-post-ad--top
                    .ad-unit.ad-unit#TNW_ROS_TOP_1261903(data-ad='TNW_ROS_TOP')
                  .c-post-split
                    aside.c-post-split-meta.js-tnwSticky(data-sticky)
                      .c-post-split-sticky.js-tnwSticky-content
                        ul.c-post-engage
                          li
                            .c-post-engage-shares
                              .c-post-engage-shares-number.

                                58
                              .c-post-engage-shares-label Shares
                          //

                                <li>
                                    <a class="c-post-engage-comments" data-comments-show href="#comments-1261903">
                                        <svg><use xlink:href="/sub-brand/assets/img/comments.svg#comments"></use></svg>
                                        <span data-comments-count></span>
                                    </a>
                                </li>

                          li
                            a.c-post-engage-share.c-post-engage-share--facebook(data-event-category='Article' data-event-action='Share' data-event-label='Facebook' data-share-medium='facebook' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#' title='Share on Facebook')
                              svg
                                use(href='/sub-brand/assets/img/icons.svg#facebook')
                          li
                            a.c-post-engage-share.c-post-engage-share--twitter(data-event-category='Article' data-event-action='Share' data-event-label='Twitter' data-share-medium='twitter' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#' title='Share on Twitter')
                              svg
                                use(href='/sub-brand/assets/img/icons.svg#twitter')
                          li
                            a.c-post-engage-share.c-post-engage-share--linkedin(data-event-category='Article' data-event-action='Share' data-event-label='Linkedin' data-share-medium='linkedin' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#' title='Share on LinkedIn')
                              svg
                                use(href='/sub-brand/assets/img/icons.svg#linkedin')
                          li
                            a.c-post-engage-share.c-post-engage-share--flipboard(data-event-category='Article' data-event-action='Share' data-event-label='Flipboard' data-share-medium='flipboard' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#' title='Share on Flipboard')
                              svg
                                use(href='/sub-brand/assets/img/icons.svg#flipboard')
                          li
                            a.c-post-engage-share.c-post-engage-share--mail(data-event-category='Article' data-event-action='Share' data-event-label='Mail' data-share-medium='mail' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url href='#' title='Share via email')
                              svg
                                use(href='/sub-brand/assets/img/icons.svg#mail')
                    .c-post-split-body
                      header.c-post-contributor
                        a.c-post-contributor-avatar(href='https://thenextweb.com/author/rafi-zauer' target='_blank' rel='noopener')
                          img(alt='Rafi Zauer' data-lazy data-src='https://img-cdn.tnwcdn.com/image/duotone?fit=240%2C240&gradient=%23660099-%23FF6666&url=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F0f83fe0c9271a05cbf57b55cfa272558%3Fs%3D240&signature=b16fa6771b57d5298fd8bec4aae62d54')
                        .c-post-contributor-text
                          h6 Story by
                          h5.c-post-contributor-name Rafi Zauer
                          p.c-post-contributor-bio.js-postBio
                            | Head of Marketing,
                            a(href='https://www.essence-grp.com/') Essence Group
                            |  —

                            span.c-post-contributor-bio-short
                              | Rafi is Head of Marketing at Essence Group, a global provider of IoT connected-living, cybersecurity and medical aesthetics solutions for communication, security and healthcare service providers. With…
                              span.c-post-contributor-bio-show
                                | (
                                a.js-postBioShow(href='#') show all
                                | )
                            span.c-post-contributor-bio-full Rafi is Head of Marketing at Essence Group, a global provider of IoT connected-living, cybersecurity and medical aesthetics solutions for communication, security and healthcare service providers. With a global presence and 50 million devices deployed worldwide, Essence develops solutions that enhance partners’ businesses and enable people to live fuller, better lives.
                          a.c-post-contributor-twitter(href='https://twitter.com/Essence_grp' target='_blank')
                            svg
                              use(href='/sub-brand/assets/img/icons.svg#twitter')
                            | Essence_grp

                      .c-post-readMore
                        .c-formatted.c-post-content
                          p
                            span Just like how certain types of technology and operating systems give way to new, updated versions and become outdated, so does the terminology we use to describe them. We no longer refer to appliances like washing machines or water heaters as ‘automated,’ because in our world today, we just know and
                            i
                              span expect
                            span  them to be automated. The more technology advances, the farther away we get from having to specify that a piece of technology is “manual” or “analog” vs. “automated.”
                          p
                            span By this same logic, we’re getting to the point in 2020 where we should reassess what it truly means to describe something as “smart.” We need to change our mindset. We need to move away from thinking of a home managed by rules set by the homeowner, to a self-learning home that can detect and learn the habits of the consumer to create a more seamless experience overall.
                          .jwplayer-placeholder
                            #jwplayerInlineAd
                          script(src='//cdn.jwplayer.com/libraries/vRZNU7bT.js')
                          script.

                            window.jwLibrary = "chM58Ml7";

                          p
                            span So, what do we mean by smart homes? Some say it is where functions are managed remotely. But this definition is outdated and far too broad to describe the functionality that we currently have. We could hardly say that 1985’s infamous Clapper (“clap on, clap off’) light switch would still qualify as “smart,” even though it was remotely controlled!
                          p
                            span Obviously, the way we live in our homes in the 21
                            span st
                            span  century is far more advanced than simple remote functions like clap on, clap off. The “Internet of Things” (IoT) has brought with it the idea that household appliances and devices should be able to talk to each other, but it doesn’t fully capture what it means to smart. Instead, we should think of smart homes as those that combine remote functions and connectivity
                            i
                              span with intelligence
                            span .
                          p
                            span For the IoT sector, the concept of connectivity has driven progress in the last couple of decades. Devices and controllers have been connected to the outside world since the 1990s, beginning with the development of wireless systems like Bluetooth and WiFi. This progression has made this type of connectivity easier and more widespread, and now the majority of people live in homes that are incredibly more advanced than they were thirty years ago.
                          p
                            span The latest iteration of this process is connecting homes to smart phones. Smart phones have been revolutionary for IoT, operating as hubs and enabling us to control our homes from the outside. Homes are now truly connected, as they no longer require our
                            i
                              span  physical
                            span actions to operate. Instead, mobile apps on smartphones can turn heat, air conditioning, lights, and faucets on and off, as well as open and close garage doors and access security systems and cameras.  
                          p
                            span However, although these functions make it seem like the home is a smart home, the actions are still being taken by the homeowner through the mobile app to operate the home: the user has created automation.
                          p
                            span By contrast, in a truly smart home, the appliances
                            i
                              span themselves
                            span  are able to learn from the habits of the residents and adjust the environment accordingly, without user intervention. We are already seeing this in separate devices, such as thermostats that know your comfort level, entertainment systems that learn your taste in music and movies, and fridges that learn your eating patterns. 
                          p
                            span However, for homes to be smart, technology enablers such as geo-location, video analytics, and voice assistants must be used in combination with machine-learning AI. For example, when I leave the office, my phone can estimate my commute time and tell my house to prepare for my arrival by disarming alarms, turning on the heating, and even setting the lighting to suit how I’m feeling.
                          p
                            span Cameras allow homes to identify specific residents and allow access, while voice recognition has allowed us to perform many automated functions within the home and remotely. Greater use of AI will mean homes of the future will have the ability to provide an all-encompassing picture of a user’s routines and needs. 
                          p
                            span The biggest jump towards a truly smart home will be in the ability to combine data from every device in the home and other sources and use it to create a unified system. A smart home will have multiple sensors around the house, allowing it to track patterns of behavior.
                          p
                            span Contextual analysis allows homes to learn from their surroundings, allowing every connected device to tell a different story. By connecting the fridge to motion sensors in the kitchen, the AI will be able to identify when it’s dinnertime. Likewise, biometric cameras will identify who is in the house and prepare the temperature and lighting settings just for them.
                          p
                            span This behavior recognition can also greatly increase security, by being able to identify any suspicious activity and knowing who is and who isn’t permitted to be in the house. Likewise, unusual activity alters can help to protect residents. 
                          p
                            span It is easy to assign the smart label to modern homes. After all, they already act in way that appears to be smart. However, it is important to keep in mind what we mean by this label. We are already well on our way to completely smart homes, although the actions we command our homes to take through automated processes aren’t truly smart, since they still stem from human command.
                          p
                            span The future that we are working towards is one where homes will be able to assist before you think of it or in ways you didn’t know you needed. This is what a truly smart home will look like. 
                          p.c-post-pubDate.

                            Published December 26, 2019 — 20:00 UTC

                        .u-hideFrom-m
                          ul.c-shareIcons
                            li
                              a.c-shareIcons-icon.c-shareIcons-icon--facebook(data-share-medium='facebook' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#')
                                svg(viewBox='0 0 1 1')
                                  use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#facebook')
                            li
                              a.c-shareIcons-icon.c-shareIcons-icon--twitter(data-share-medium='twitter' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/jIGv5' href='#')
                                svg(viewBox='0 0 1 1')
                                  use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#twitter')
                            li
                              a.c-shareIcons-icon.c-shareIcons-icon--linkedin(data-share-medium='linkedin' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url href='#')
                                svg(viewBox='0 0 1 1')
                                  use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#linkedin')
                            li
                              a.c-shareIcons-icon.c-shareIcons-icon--flipboard(data-share-medium='flipboard' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url='https://tnw.to/GhXDo' href='#')
                                svg(viewBox='0 0 1 1')
                                  use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#flipboard')
                            li
                              a.c-shareIcons-icon.c-shareIcons-icon--mail(data-share-medium='mail' data-share-title='Your home isn’t smart, it’s just connected — here’s why' data-share-url href='#')
                                svg(viewBox='0 0 1 1')
                                  use(xlink='http://www.w3.org/1999/xlink' href='/sub-brand/assets/img/icons.svg#mail')
                        .c-post-authorPubDate
                          a(href='https://thenextweb.com/author/rafi-zauer' target='_blank' rel='noopener')
                            img.c-post-authorPubDate-avatar(alt='Rafi Zauer' data-lazy data-src='https://img-cdn.tnwcdn.com/image/duotone?fit=240%2C240&gradient=%23660099-%23FF6666&url=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F0f83fe0c9271a05cbf57b55cfa272558%3Fs%3D240&signature=b16fa6771b57d5298fd8bec4aae62d54')
                          .c-post-authorPubDate-text
                            h5
                              a(href='https://thenextweb.com/author/rafi-zauer' target='_blank' rel='noopener') Rafi Zauer
                            p.c-post-authorPubDate-pubDate.

                              December 26, 2019 — 20:00 UTC

                      button.c-post-readMore-button.button.button--outline(href='#') Read more
                aside.c-split-sidebar.js-tnwSticky
                  .js-tnwSticky-content.u-showFrom-l(style='top: 72px;')
                    .ad.c-post-ad.c-post-ad--sidebar
                      .ad-unit.ad-unit--rectangle#TNW_ROS_MPU_ATF_1261903(data-ad='TNW_ROS_MPU_ATF')
                    .c-recommended.js-recommended.u-m-2
                      h4 Most popular
                      a.c-recommended-image(href='https://thenextweb.com/podium/2019/12/21/2020-will-see-ai-move-from-buzzwords-to-solutions/')
                        img(alt='AI' src='https://img-cdn.tnwcdn.com/image?fit=600%2C336&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F12%2FUntitled-design28.png&signature=159a97ed028d2aacba12a21a3a00d796')
                      .c-recommended-text
                        h5
                          a.p-channel-underline(href='https://thenextweb.com/podium/2019/12/21/2020-will-see-ai-move-from-buzzwords-to-solutions/') 2020 will see AI move from buzzwords to solutions
                    .ad.c-post-ad.c-post-ad--sidebar
                      .ad-unit.ad-unit--rectangle#TNW_ROS_MPU_BTF_1261903(data-ad='TNW_ROS_MPU_BTF')
            .ad.c-post-ad.c-post-ad--interstitial
              .ad-unit.ad-unit--billboard#TNW_ROS_TOP_1261903(data-ad='TNW_ROS_TOP')
      footer.app-footer.footer
        .u-wrapper
          .footer-split
            .footer-split-main
              .grid.grid--collapse
                .grid-col-xs-12.grid-col-l-6
                  .footer-branding
                    a(href='/')
                      svg.footer-branding-logo(preserveAspectRatio='xMidYMid meet' viewBox='0 0 66 16')
                        use(href='/sub-brand/dist/img/icons.svg#tnw')
                    p.footer-branding-tagline The Heart of Tech™
                .grid-col-xs-6.grid-col-l-3
                  .footer-block
                    h5 More TNW
                    ul.footer-menu
                      li
                        a(href='https://thenextweb.com/') News
                      li
                        a(href='https://thenextweb.com/conference') Events
                      li
                        a(href='https://thenextweb.com/x') Enterprise
                      li
                        a(href='https://index.co/') Intelligence
                      li
                        a(href='https://answers.thenextweb.com/') Answers
                      li
                        a(href='https://tq.co/') Spaces
                .grid-col-xs-6.grid-col-l-3
                  .footer-block
                    h5 About TNW
                    ul.footer-menu
                      li
                        a(href='https://thenextweb.com/about') About
                      li
                        a(href='https://thenextweb.com/team') Team
                      li
                        a(href='https://thenextweb.com/advertise') Advertise
                      li
                        a(href='https://thenextweb.homerun.co/') Jobs
                      li
                        a(href='https://thenextweb.com/contact') Contact
            .footer-split-sidebar
              .footer-block
                form.footer-subscribe(action='https://thenextweb.com/podium/newsletter/subscribe' onsubmit='dataLayer.push( {\'event\':\'email\',\'eventCategory\':\'Email\',\'eventAction\':\'Sign up\',\'eventLabel\':\'Footer\',\'eventNonInteraction\':1} )' method='post' data-ajax)
                  h5 Stay tuned
                  input(type='hidden' name='group' value='tnw')
                  .footer-subscribe-success
                    p Thank you!
                  .footer-subscribe-fields
                    ul.footer-subscribe-list
                      li
                        input#list_weekly(checked name='list[weekly]' type='checkbox')
                        label(for='list_weekly') Weekly
                      li
                        input#list_daily(name='list[daily]' type='checkbox')
                        label(for='list_daily') Daily
                      li
                        input#list_breaking(name='list[breaking]' type='checkbox')
                        label(for='list_breaking') Breaking
                    .footer-subscribe-email
                      .form-inputWithIcon
                        input.form-input.form-input--borderless(name='email' placeholder='Email' type='email' required)
                        svg
                          use(href='/sub-brand/assets/img/icons.svg#mail')
                      button(type='submit') OK
                ul.footer-social
                  li
                    a.button.button--icon.button--outline.button--rounded(href='https://www.facebook.com/thenextweb' target='_blank' rel='noopener')
                      svg
                        use(href='/sub-brand/assets/img/icons.svg#facebook')
                  li
                    a.button.button--icon.button--outline.button--rounded(href='https://twitter.com/thenextweb' target='_blank' rel='noopener')
                      svg
                        use(href='/sub-brand/assets/img/icons.svg#twitter')
                  li
                    a.button.button--icon.button--outline.button--rounded(href='https://www.instagram.com/thenextweb' target='_blank' rel='noopener')
                      svg
                        use(href='/sub-brand/assets/img/icons.svg#instagram')
                  li
                    a.button.button--icon.button--outline.button--rounded(href='https://www.youtube.com/thenextweb' target='_blank' rel='noopener')
                      svg
                        use(href='/sub-brand/assets/img/icons.svg#youtube')
        .footer-legal
          .u-wrapper
            p
              span.txt-nowrap Copyright © 2006—2019.
              span.txt-nowrap All rights reserved.
              span.txt-nowrap
                | Made with
                span.footer-legal-heart ♥
                |  in Amsterdam.
    #fb-root
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script#socialSrcFacebook(data-src='//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=378011798897423&version=v2.6' type='text/template')
    script#socialSrcTwitter(data-src='//platform.twitter.com/widgets.js' type='text/template')
    script(src='//cdn0.tnwcdn.com/sub-brand//js/app.js?id=fed0916e7cffde7d43e0')
    #amzn-assoc-ad-de124299-5c4e-48f7-a50d-56999939e0ba
    script(async src='//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=de124299-5c4e-48f7-a50d-56999939e0ba')
